<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="authConfiguration" class="endpointstest.AuthConfiguration">
        <property name="scopes">
            <list>
                <!-- ADWORDS_API_SCOPE -->
                <value>https://www.googleapis.com/auth/adwords</value>
                <!-- ANALYTICS_API_SCOPE -->
                <value>https://www.googleapis.com/auth/analytics.readonly</value>
                <!-- SEARCHCONSOLE_API_SCOPE -->
                <value>https://www.googleapis.com/auth/webmasters.readonly</value>
                <!-- EMAIL_SCOPE -->
                <value>https://www.googleapis.com/auth/userinfo.email</value>
            </list>
        </property>
        <property name="clientId" value="894185615170-8f7h45jj25e310smph5do6lglnbtnggm.apps.googleusercontent.com"/>
        <property name="clientSecret" value="rl9HUYNm0vTOic3n-JnWwYR2"/>
        <property name="developerToken" value="LUQskC-bLr_NBYOiPfGw5g"/>
        <property name="userAgent" value="endpointsTest"/>
    </bean>

    <bean id="ofyService" class="endpointstest.OfyService" init-method="init">
        <property name="classes">
            <set>
                <!-- all entity classes must be registered here -->
                <value>endpointstest.CredentialEntity</value>
                <value>endpointstest.AdwordsAccountCacheEntry</value>
            </set>
        </property>
    </bean>

    <!-- bean id="credentialStorage" class="endpointstest.MemoryCredentialStorage">
    </bean -->

    <bean id="credentialStorage" class="endpointstest.DatastoreCredentialStorageImpl">
        <property name="authConfiguration" ref="authConfiguration"/>
        <property name="ofyService" ref="ofyService"/>
    </bean>

    <bean id="adwordsService" class="endpointstest.AdwordsService">
        <property name="authConfiguration" ref="authConfiguration"/>
        <property name="credentialStorage" ref="credentialStorage"/>
        <property name="ofyService" ref="ofyService"/>
    </bean>

</beans>